/* Page.module.css */
.pagecontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.post h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.postimage {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.date {
  font-style: italic;
  text-align: center;
}
