.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  color:white;
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-radius:2rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.posts {
 flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  display:flex;
  list-style: none;
  padding: 0;
}

.posts li {
  margin-bottom: 20px;
}

.posts h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.newPost {
  color: black;
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

.newPost h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

